{% extends 'base.html' %}

{% block title %}
Contact
{% endblock title %}

{% block contactactive %} active{% endblock contactactive %}

{% block body %}

<div class="container my-3">
    <h3> contact us</h3>
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">name</label>
            <input type="text" class="form-control" id="name" name="name" >
            
          </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="phone" class="form-control" id="phone" name="phone" >
            
          </div>
        
        <div class="mb-3">
            <label for="subject" class="form-label">Discriptions</label>
           
            <textarea name="subject" class="form-control" id="subject"  name="subject" cols="30" rows="7"></textarea>
            
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</div>
{% endblock body %}